@keyframes divhover{
	0% {border-color: black;}
	50% {border-color: gold;}
	100% {border-color: black;}
}

div {
	border: 4px solid black;
	height: 200px;
	width: 100%;
	padding: 8px;
}

.gallery:hover{
	animation-name: divhover;
	animation-duration: 1s;
}

.gallery img{
	width: 200px;
	height: 200px;
}
