@keyframes divhover{
	0% {border-color: black;}
	50% {border-color: gold;}
	100% {border-color: black;}
}

h1{
	color: purple;
	background-color: gold;
}

div {
	border: 4px solid black;
	height: 200px;
	width: 100%;
	padding: 8px;
}
